[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=elspeth
WorkingDirectory=/home/elspeth/sites/SITENAME/source/superlists
ExecStart=/home/elspeth/sites/SITENAME/env/bin/gunicorn --access-logfile - --workers 3 --timeout 300 --bind unix:/tmp/SITENAME.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target